@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply flex gap-1 font-semibold py-1 px-2 sm:px-3 mx-0 rounded-md hover:bg-[#fafafa] items-center;
  }

  .link--active {
    @apply text-socialBlue;
  }
}

body {
  background-color: #fff;
}
